:root {
  --osnovnoy-siniy: #0062f5;
  --belyy: #fff;
  --seryy4: #9f9f9f;
  --black: #000;
  --error-red: #f5001d;
  --seryy5: #636363;
  --prozrachnyy-oranzhevyy: #f1b00a;
  --oranzhevyy: #f1b00a;
  --prozrachnyy-siniy: #0062f546;
  --zelenyy: #00cc08;
  --seryy1: #f5f7fa;
  --prozrachnyy-rozovyy: #cc0093;

  --font-family: "Manrope", sans-serif;
  --second-family: "SF Pro Display", sans-serif;
  --third-family: "Inter", sans-serif;
  --font3: "Poppins", sans-serif;
  --font4: "Roboto", sans-serif;
  --font5: "Roboto Mono", sans-serif;
  --font6: "Krona One", sans-serif;
}
.registration-contaoiner {
  display: flex;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
}

.forgot-text {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 14px;
  color: #9f9f9f;
  text-align: center;
  margin-top: -20px;
}

.regis-btn a{
  color: var(--belyy);
  text-decoration: none;
}
@media (max-width: 1200px) {
}
@media (max-width: 992px) {

}
@media (max-width: 768px) {
}

@media (max-width: 576px) {
}

@media (max-width: 480px) {

}

@media (max-width: 425px) {
  .form-pass a{
    margin-left: 240px;
  }
}

@media (max-width: 375px) {
  .form-pass a{
    margin-left: 180px;
  }

  
}

@media (max-width: 320px) {
  .form-pass a{
    margin-left: 150px;
  }

  
}