:root {
  --osnovnoy-siniy: #0062f5;
  --belyy: #fff;
  --seryy4: #9f9f9f;
  --black: #000;
  --error-red: #f5001d;
  --seryy5: #636363;
  --prozrachnyy-oranzhevyy: #f1b00a;
  --oranzhevyy: #f1b00a;
  --prozrachnyy-siniy: #0062f546;
  --zelenyy: #00cc08;
  --seryy1: #f5f7fa;
  --prozrachnyy-rozovyy: #cc0093;

  --font-family: "Manrope", sans-serif;
  --second-family: "SF Pro Display", sans-serif;
  --third-family: "Inter", sans-serif;
  --font3: "Poppins", sans-serif;
  --font4: "Roboto", sans-serif;
  --font5: "Roboto Mono", sans-serif;
  --font6: "Krona One", sans-serif;
}

.process-text {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.content-list{
   position: relative;
}
.content-back{
position: absolute;
top: -25%;
left:2% ;
}
.process-text h3 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  color: var(--black);
}
.process-box {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  color: var(--black);
}
.stock-status-progress{
  width: 1060px;
  margin-top: -30px !important;
}
.production-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 10px 20px;
  width: 268px;
  height: 36px;
  background: var(--osnovnoy-siniy);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  color: var(--belyy);
  border: none;
}


@media (max-width: 1200px) {
    
}
@media (max-width: 992px) {

}
@media (max-width: 768px) {
}

@media (max-width: 576px) {
}

@media (max-width: 480px) {
#baqbe-1:hover{
  background: var(--belyy) !important;
}
.content-back {
  top: 0;
}
.content{
  margin-top: 30px;
  margin-left: -35px;
}
.date-picker-wrapper{
 display: none;
}
.process-text{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.process-text img{
  text-align: start;
  margin-left: -240px;
  
}
.process-text h3{
  font-size: 20px;
  text-align: start;
}
.process-text{
  margin-top: 0;
}
.process-box{
  font-size: 20px;
}
.table-status__title{
  margin-top: -50px;
}
.table-status{
  overflow: visible;
}

}

@media (max-width: 425px) {

}

@media (max-width: 375px) {

}
